<!DOCTYPE html>
<html>
  <head>
    <title>PullRequestApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Copyright &copy; 2017, Gideon Ft Roger - Kigali,Rwanda</p>
    </div>
  </footer>
  </body>
  <footer>
    
</html>
